
@import "../../../../styles/mixins";

.productInfoContainer {
  padding: 0 2rem;

  @include desktop {
    max-width: 75%;
  }

  .productInfoTitlesContainer {
    margin: 3rem 0;
  
    .productInfoSubTitle {
      margin: 1rem 0 0.5rem 0;
      color: var(--orange-primary);
      font-weight: 700;
      font-size: 1.25rem;
    }
  
    .productInfoTitle {
      margin: 0.5rem 0 1rem 0;
      font-size: 2.5rem;
      color: var(--very-dark-blue);
    }
  }

  .productInfoTextContainer {
    margin-bottom: 3rem;
    .productInfoText {
      color: var(--dark-grayish-blue);

      @include tablet {
        font-size: 1.5rem;
      }
    }
  }

  .productInfoButtonContainer {
    display: flex;
    justify-content: center;

    @include desktop {
      justify-content: flex-start;
    }
  }
}