@import "../../../../styles/mixins";

.fillerContainer {
  padding: 0 2rem;

  @include desktop {
    width: 33%;
    margin-left: auto;
    margin-top: 5rem;
    padding: 0;
  }

  .fillerTitleContainer {
    margin: 1rem 0;

    @include desktop {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2.5rem;
      color: var(--very-dark-blue);

      @include desktop {
        font-size: 2rem;
      }
    }
  }

  .fillerTextContainer {
    margin-bottom: 3rem;

    @include desktop {
      margin: 0;
    }

    p {
      color: var(--dark-grayish-blue);
    }
  }
}