@import "./mixins";

.divisor {
  margin: 0 20%;
  background-color: var(--light-grayish-blue);
  border-color: var(--light-grayish-blue);

  @include desktop {
    margin: 5% 0;
  }
}

@include desktop {
  .contactMain {
    padding-top: 8rem;
    max-width: 71.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
    .contactContent {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      width: 83%;
    }
  }
}